{% extends 'base.html' %}

{% block title %}Edit Pet{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-1 text-center">{{pet.name}}</h1>
    <img src="{{pet.photo_url}}">
    <p><b>Age:</b> {{pet.age}}</p>
    <p><b>Species:</b> {{pet.species}}</p>
    <p><b>Notes:</b> {{pet.notes}}</p>
</div>

<div class="container">
    <form method="POST">
        <div class="form-group">
            {{form.hidden_tag()}}
            <div>
                <b>{{ form.photo_url.label() }}</b> {{form.photo_url(class_="form-control") }}
                {% for error in form.photo_url.errors %}
                <small class="form-text text-danger">{{error}}</small>
                {% endfor %}
            </div>
            <div>
                <b>{{ form.notes.label() }}</b> {{ form.notes(class_="form-control")}}
            </div>
            <div class="form-check form-switch">
                <b>{{ form.available.label() }}</b> {{ form.available(class_="form-check-input") }} 
            </div>
        </div>
        <button type="submit" class="btn btn-lg text-bg-success">Submit</button>
        <button formaction="/delete/{{ pet.id }}" formmethod="POST" class="btn btn-lg text-bg-danger">Delete</button>
    </form>
</div>

{% endblock %}