{% extends 'base.html' %}

{% block title %}New Pet{% endblock %}

{% block content %}

<h1 class="display-1 text-center">Add Pet</h1>
<div class="container">
    <form method="POST">
        <div class="form-group">
            {{form.hidden_tag()}}
            <div>
                <b>{{ form.name.label() }}</b> {{form.name(class_="form-control") }}
            </div>
            <div>
                <b>{{ form.species.label() }}</b> {{form.species(class_="form-control") }}
                {% for error in form.species.errors %}
                <small class="form-text text-danger">{{error}}</small>
                {% endfor %}
            </div>
            <div>
                <b>{{ form.age.label() }}</b> {{form.age(class_="form-control") }}
                {% for error in form.age.errors %}
                <small class="form-text text-danger">{{error}}</small>
                {% endfor %}
            </div>
            <div>
                <b>{{ form.photo_url.label() }}</b> {{form.photo_url(class_="form-control") }}
                {% for error in form.photo_url.errors %}
                <small class="form-text text-danger">{{error}}</small>
                {% endfor %}
            </div>
            <div>
                <b>{{ form.notes.label() }}</b> {{ form.notes(class_="form-control")}}
            </div>
            <div class="form-check form-switch">
                <b>{{ form.available.label() }}</b> {{ form.available(class_="form-check-input") }} 
            </div>
        </div>
        <button type="submit" class="btn btn-lg text-bg-success">Submit</button>
    </form>
</div>

{% endblock %}