{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6 message-area">
    <ul class="list-group" id="messages">

      {% for u in user.following %}

        {% for m in u.messages %}
        <li class="list-group-item">
          <div class="container">
            <div class="row">
              <a href="/messages/{{ m.id  }}" class="message-link"></a>
                <div class="col-8">
                  <a href="/users/{{ m.user.id }}">
                    <img src="{{ m.user.image_url }}" href="/users/{{ m.user.id }}" class="timeline-image">
                    <b>@{{m.user.username}}</b>
                  </a>
                </div>
                <div class="col">
                  <span class="col text-muted">{{m.timestamp.strftime('%d %B %Y')}}</span>
                </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p>{{m.text}}</p>
              </div>
              <div class="col">
                <form class="messages-like">
                  <button formmethod="POST" formaction="/messages/{{ m.id }}/like"
                  class="btn btn-sm {{'btn-primary' if m.user.id in likes else 'btn-secondary'}}">
                    <i class="fa fa-thumbs-up"></i> 
                  </button>
                </form>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        
      {% endfor %}
    </ul>
  </div>
{% endblock %}
